@import url('https://fonts.googleapis.com/css?family=Dosis');

.game-tittle {
	margin: 0 0 0px;
	padding: 0;
	font-size: 50px;
	font-weight: bold;
	color: #1a1a1a;
}

.FL_choose {
	width: 75%;
	display: inline-block;
	/*background-color: red;*/
	/*margin-left: 10px;*/
	margin: auto;
	margin-top: 5px;
	margin-left: 120px;
}

.FL_score {
	margin: 20px;
	width: 10%;
	padding: 5px;
	/*background-color: white;*/
	display: inline-block;
}

.FL_score p {
	font-family: "Dosis", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.FL_choose p {
	font-family: "Dosis", sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.FL_score .score {
	margin: auto;
	width: 100px;
	height: 100px;;
	/*background-color: red;*/
	background-color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}
.FL_score button{
	font-family: "Dosis", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.FL_choose .letter{
	margin: auto;
	margin-right: 10px;
	width: 50px;
	height: 50px;;
	/*background-color: red;*/
	background-color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	float: left;
}
.FL_game p{
	font-family: "Dosis", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.score_display {
	font-size: 40px;
	font-weight: bold;
}

body {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
	font-family: "Dosis", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}