@import url('https://fonts.googleapis.com/css?family=Dosis');

.rps-game {
	width: 100%;
	margin: auto;
}
/*
#Paper {
	width: 12%;
}

#Rock {
	width: 12%;
}

#Scissors {
	width: 12%;
}*/

.game-tittle {
	margin: 0 0 0px;
	padding: 0;
	font-size: 50px;
	font-weight: bold;
	color: #1a1a1a;
}

.rps_state {
	/*background-color: yellow;*/
}

.rps_move {
	width: 75%;
	display: inline-block;
	/*background-color: red;*/
	/*margin-left: 10px;*/
	margin: auto;
	/*margin-top: 10px;*/
}

.versus {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.player_move {
	width: 60%;
	height: 200px;;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.rps_score {
	margin: 20px;
	width: 10%;
	/*background-color: white;*/
	display: inline-block;
}

.rps_options {
	margin: 28%;
	/*margin-left: 350px;*/
	/*margin-left: 25%;*/
	margin-top: 20px;
	width: 70%;
	/*background-color: blue;*/
}

.rps_options img {
	margin-right: 11%;
	width: 12%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.rps_score p {
	font-family: "Dosis", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.rps_score button {
	font-family: "Dosis", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.rps_state p{
	font-family: "Dosis", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.rps_score .score {
	margin: auto;
	width: 100px;
	height: 100px;;
	/*background-color: red;*/
	background-color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.score_display {
	font-size: 40px;
	font-weight: bold;
}

.move_election{
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

body {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
	font-family: "Dosis", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}